[tool.poetry]
authors = ["Eli Wilson <eli@noteable.io>"]
description = "IPython Magics for Noteable"
name = "noteable_magics"
version = "0.2.0"

[tool.poetry.dependencies]
GitPython = "^3.1.14"
backoff = "^1.10.0"
click = "^7.0.0"
ipython = "^7.20.0"
ipython-sql = "^0.4.0"
openpyxl = "^3.0.7"
pandas = "^1.2.1"
protobuf = "^3.15.6"
pyarrow = "^3.0.0"
pydantic = "^1.7.3"
python = "^3.8"
redis = "^3.5.3"
rich = "^10.1.0"
unidiff = "^0.6.0"
xlrd = "^2.0.1"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
flake8 = "^3.9.0"
isort = "^5.8.0"
notebook = "^6.3.0"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool.black]
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''
include = '\.pyi?$'
line-length = 100
skip-string-normalization = true

[tool.isort]
include_trailing_comma = true
known_third_party = ["nbformat"]
line_length = 100
multi_line_output = 3
